.outer-cont {
    width: 100vw;
    height: auto;
    justify-content: center;
    align-items: center;
}

.backdrop {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 90vh;
    background-image: url('../assets/login-page-assets/background-books.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    justify-content: center;
    align-items: center;
}
.tagline {
    font-size: clamp(12px, 3vw);
    /* padding: 4rem; */
    padding-top:0rem;
    margin: 1.5rem;
    padding-bottom: 3rem;
    color: white;
    text-align: center;
}

.read {
    height: 50px;
    width: 170px;
    color: white;
    font-size: 10rem;
}

.card-container {
    max-width: 800px;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    transition: .3s;
}

.text {
    font-size: clamp(1rem, 2rem);
    margin: 1rem;
}

.image-cont {
    width: 300px;
    height: auto;
    transition: .7s;
}
.book-sample {
    max-width: 300px;
    min-width: 70px;
    height: 500px;
}

.card-container:hover {
    background-color: rgb(233, 233, 233);
}

.card-container:hover > .image-cont {
    transform: scale(1.1);
}